
snippet vsnips_simple "Test for vsnips"
# This is from js func `!p snip.rv = test_for_simple(snip)`
endsnippet

snippet vsnips_jsfunc "Test for vsnips"
# This is from js func `!p snip.rv = test_for_context(snip)`
endsnippet